<style>
#main{
  align="justify";
}
        #title{
            text-align: center;
            font-family: Monospace;
            font-size: 70px;
            font-style: italic;
            color: crimson;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
       #img-caption{
         margin: 15px 0 5px 0;}

        h4{
            text-align: justify;
            font-family: Monospace;
            font-size: 40px;
            font-style: italic;
        }
        #image{
                       
            max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
        
             
        #tribute-info{
            position: relative;
            font-family: Trebuchet MS;
            font-size: 25px;
            bottom: 20px;
            text-align:justify;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            
        }
        
        #tribute-link{
            position: relative;
            font-family: Trebuchet MS;
            font-size: 25px;
            bottom: 20px;
            text-align:justify;
            
            <!--box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);-->
         
              }
        #tribute-link:hover{
                color: blue;
                   
               }
#img-div{
    background: white;
  padding: 10px;
  margin: 0;
}

    </style>
    